
/* Mobile */
@media (max-width: 767px){
    .linkLogo{
        width: 50%;
        display: inline-block;
    }
    .logo{
        width: 100%;
    }
    .linkLogo.searchOpen{
        display: none;
    }
}