.formSearch{
    position: absolute;
    width: 50%;
    top: 14px;
    right: 0;
}
.headerSearch{
    border-radius: 25px;
    padding: 9px;
    width: 244px;
    border: transparent;
    box-shadow: 0 6px 4px -4px rgba(0,0,0,0.45);
    height: 45px;
}
