.newsSection {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.newsCard {
    width: 467px;
    background: #fffeff;
    display: inline-block;
    box-shadow: 0 6px 4px -4px rgba(0,0,0,0.45);
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;

}
.newsBody {
    padding: 0 38px;
}
.newsImageDiv {
    height: 350px;
    background-color: #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.newsImage {
    max-width: 100%;
    max-height: 100%;
    transition: all 1s ease;
}
.newsCard:hover .newsImage{
    -webkit-transform:scale(1.25); 
     transform:scale(1.25);
     transition: all 1s ease;
}
.newsDate {
    width: 100%;
    display: inline-block;
    color: #bfbfbf;
    padding: 6px 0;
}
.newsTitle {
    margin: 0;
    color: #7ca3d2;
    text-transform: uppercase;
}    
.newsText {
    color: #a9a9a9;
    height: 50px;
    margin-bottom: 0;
    margin-top: 9px;
}
.newsAuthor{
    font-size: 12px;
    color: #7ca3d2;
    text-transform: uppercase;
}

/* Desktop */
@media (min-width: 1025px){
    .cardMiddle{
        width: 300px;
        height: 360px
    }
    .cardMiddle .newsImageDiv{
        height: 200px;
    }    
    .newsSection{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .newsCard:nth-child(1){
        grid-column: 2;
        justify-self: right;
    }
    .newsCard:nth-child(2){
        grid-column: 3;
        justify-self: left;
    }
    .newsCard:nth-child(3){
        grid-column: 2;
        justify-self: right;
        margin-right: 13em;
    }
    .newsCard:nth-child(4){
        grid-column: 3;
        justify-self: left;
        grid-row: 2;
        margin-left: -10em;
    }
    .newsCard:nth-child(5){
        grid-column: 3;
        justify-self: left;
        grid-row: 2;
        margin-left: 12em;
    }
    .newsCard:nth-child(6){
        grid-column: 2;
        justify-self: right;
    }
    .newsCard:nth-child(7){
        grid-column: 3;
        justify-self: left;
    }

}
/* Mobile */
@media (max-width: 1025px){
    .newsCard {
        margin: 0;
        width: 90%;
        margin-top: 20px;
    }
    .newsCard:last-child{
        padding-bottom:10px;
    }
}