.buttonMenu{
    display: none;
}

/* Mobile */
@media (max-width: 1025px){
  .buttonMenu{
    display: block;
    border: none;    
    width: 25%;    
    background: transparent;    
    text-align: left;    
    margin-top: 10px;
    float: left;    
  }
  .menuIcon{
      padding: 1px; 
      cursor: pointer;
      max-width: 33%;
      margin-left: 26px;
    }
    .buttonMenu.searchOpen{
      display: none;
    }

}